@font-face {
    font-family: 'bellotaregular';
    src: url('Bellota-Regular-webfont.eot');
    src: url('Bellota-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Bellota-Regular-webfont.woff2') format('woff2'),
         url('Bellota-Regular-webfont.woff') format('woff'),
         url('Bellota-Regular-webfont.ttf') format('truetype'),
         url('Bellota-Regular-webfont.svg#bellotaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.navitem {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    color: white;
}


.mytext {
    font-family: Bellota;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    margin-top: 30px;
    
    
    color: black;

}

.logodiv { 
    
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2315c5bd' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23303030' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2315c5bd' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23303030' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2315c5bd' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23303030' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2315c5bd' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23303030' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2315c5bd' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23303030' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2315c5bd' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23303030' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 10px 10px) drop-shadow(rgba(0, 0, 0, 0.2) 0px 5px 5px);
    display: flex;
  align-items: center;
  justify-content: center;
  
    
}

#raspberry {
    
    width: 50px;
    height: 50px;
}

#logo {
    
    width: 600px;
    height: 600px;
}

#containeritems {

     display: flex;
     flex-direction: row-wrap;
     

}

.item {
    
    width: 400px;
    height: 300px;
    background-color: whitesmoke;
    margin: 10px;
    
    
}

.nav {
    height: 100px;
    background-color: #15c5bd ;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    align-content: center;
    font-size: 30px;
    text-transform: uppercase;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 10px 10px) drop-shadow(rgba(0, 0, 0, 0.2) 0px 5px 5px)
}

#item1 {

    background-image: url(/img/Web_Pi-Cap-Piano_IMG_6507.jpg)
}

#item2 {

    background-image: url(/img/raspberry-pi-4-ice-tower.jpg);
    background-position: 50%;
}


#item3 {

    background-image: url(/img/rs485pi-1.jpg);
    background-position: center;
}

#item4 {
    background-image: url(/img/image.jpg);
    background-position: center;
}

#item5 {

    background-image: url(/img/LD0005478055_2.jpg);
    background-position: center;
}


.about {
    font-family: bellota;
    font-weight: bolder;
    padding-top: 60px;
    font-size: 40px;
    
    text-align: center;
  
}



.founder{
    font-family: bellota;
    font-size: 30px;
    align-self:center;
    margin: 10px;
    justify-content: center;
    width: 100%
    
}

.founderpic {
   display: flex;
   flex-direction: column;
    width: 330px;
    height: 400px;
    background-color: whitesmoke;
    margin-left: -14px;
}

.contactus {
    padding-top: 60px;
    margin-top: 46px;
    text-align: center;
    font-family: bellota;
    font-weight: bolder;
    font-size:40px;
    margin-top: 30px;
}

#containercontactus{

  margin-top: 40px;
  font-family: bellota;
  font-size: 30px;
  display: none;
 


}

.refund {
    margin-top: 40px; 
    font-size: 40px;
    font-family: bellota;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.mybackground {
    
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%230c6e6a'/%3E%3Cstop offset='1' stop-color='%2313afa8'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%238f8f8f'/%3E%3Cstop offset='0.09' stop-color='%23b3b3b3'/%3E%3Cstop offset='0.18' stop-color='%23c9c9c9'/%3E%3Cstop offset='0.31' stop-color='%23dbdbdb'/%3E%3Cstop offset='0.44' stop-color='%23e8e8e8'/%3E%3Cstop offset='0.59' stop-color='%23f2f2f2'/%3E%3Cstop offset='0.75' stop-color='%23fafafa'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
background-attachment: fixed;
background-repeat: no-repeat;
background-position: top left;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 10px 10px) drop-shadow(rgba(0, 0, 0, 0.2) 0px 5px 5px);
}

#downarrow {
  
    width: 150px;
    cursor: pointer;
  
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {

    height: 200px;
    
    margin-top: 70px;
    margin-bottom: -10px;
}

.facebook-square {
    width: 100px;
    height: 100px;
}

#sub {
    
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .accessories {
      width: 300px;
      height: 200px;
      background-color: whitesmoke;
      margin: 5px 0px;
      
     
  }
  .accessories2 {
      display: flex;
      flex-direction: row;
    width: 300px;
    height: 50px;
    background-color: whitesmoke;
    margin: 5px 0px;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    
   
}

  #accessoriescontainer {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .divtitle {
      font-family: bellota;
      font-size: 40px;
      height: 150px;
      text-align: center;
      padding-top: 30px;
      text-transform: uppercase;
      background-color: #15c5bd ;
      filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 10px 10px) drop-shadow(rgba(0, 0, 0, 0.2) 0px 5px 5px);
  }

  #type1 {

    background-image: url(/img/raspberry-pi-4_add37a07a9fcd40b4a3f2cbdff4cab83.jpg);
  }



  .swiper-container {
    display: flex;
    flex-direction: column;
  
  }
  #swiper1 {
   
    width: 100%;
    height:450px;
    
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 10px 10px) drop-shadow(rgba(0, 0, 0, 0.2) 0px 5px 5px);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2315c5bd' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23303030' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2315c5bd' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23303030' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2315c5bd' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23303030' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2315c5bd' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23303030' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2315c5bd' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23303030' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2315c5bd' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23303030' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }

  #swiper2 {
   
    width: 100%px;
    height: 450px;
    
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 10px 10px) drop-shadow(rgba(0, 0, 0, 0.2) 0px 5px 5px);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2315c5bd' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23303030' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2315c5bd' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23303030' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2315c5bd' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23303030' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2315c5bd' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23303030' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2315c5bd' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23303030' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2315c5bd' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23303030' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
  #swiper3 {
   
    width: 100%;
    height: 450px;
    
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 10px 10px) drop-shadow(rgba(0, 0, 0, 0.2) 0px 5px 5px);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2315c5bd' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23303030' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2315c5bd' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23303030' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2315c5bd' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23303030' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2315c5bd' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23303030' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2315c5bd' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23303030' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2315c5bd' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23303030' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }

  #swipera {

    display: flex;
    flex-direction: row;
  }
  #swiperb {

    display: flex;
    flex-direction: row;
  }

 
.filler {
  width: 100%;
  height: 200px;
  
}


.description {

 font-family: bellota;
 font-size: 25px;
 line-height: 200%;
  
}

.intro {
  font-family: bellota;
  font-size: 55px;
  text-align: center;
  margin-top: 60px;
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}